<div class="container">
    <h2>To-Do List</h2>
  <form  [formGroup]="DiaryEntryForm">
    <label for="name"></label>  
    <input type="text"  formControlName='task' id="list"  placeholder="enter list here..">
    <input type="hidden" formControlName='uid' [(ngModel)]="uid">
    <input type="hidden" formControlName='status' [(ngModel)]="status">
    <button type="submit" (click)="OnSubmit()"style="align-items: flex-end;"><i class="fa fa-plus-square"></i></button>
</form>
  <div class="container">
    <table class="table table-striped">
      <thead>      
      </thead> 
      <tbody>
        <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
          <td> {{i+1}} </td>
          <td> {{item.task}}</td>
  
          <td><a [routerLink]="['/userhome/tododelete',item.tid]"><i class="fa fa-trash"></i></a></td>         
      </tr>
      </tbody>
    </table>
  </div>
