#form_login {
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

// Roboto Font import
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
// Box model
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// base style for pen
html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
html {
  position: relative;
  overflow-x: hidden;
  margin: 16px;
  padding: 0;
  min-height: 100%;
  font-size: 62.5%; //rem unit support
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#demo {
  margin: 20px auto;
  max-width: 960px;
}
#demo h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}
#demo h2 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-align: center;
}



// Primary styles
// Sass Variables
$table-header-font-weight:      400;
$table-header-font-color:       #757575;
$table-cell-padding:            1.6rem;
$table-condensed-cell-padding:  $table-cell-padding/2;
$table-bg:                      #f9f9f9;
$table-bg-accent:               #f2f2f4;
$table-bg-hover:                rgba(0,0,0,.04);
$table-bg-active:               $table-bg-hover;
$table-border-color:            #e0e0e0;
$table-inactive-color:          #d2d2d2;

// Tables
// Baseline
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $table-bg;
  border: 2px solid $table-border-color;
  thead,
  tbody,
  tfoot {
    tr {
      transition: all .3s ease;
      
      th,
      td {
        text-align: left;
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: 0;
        transition: all .3s ease;
      }
    }
  }
  thead > tr > th {
    font-weight: $table-header-font-weight;
    color: $table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  caption + thead,
  colgroup + thead,
  thead:first-child {
    tr:first-child {
      th,
      td {
        border-top: 0;
      }
    }
  }
  tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  table {
    background-color: $table-bg;
  }

  // Border styles
  // Add horizontal borders between columns.
  border: 0;
  thead,
  tbody,
  tfoot {
    tr {
      th,
      td {
        border: 0;
        border-bottom: 1px solid $table-border-color;
      }
    }
  }
  thead > tr {
    th,
    td {
      border-bottom-width: 2px;
    }
  }

  // Zebra-striping style
  tbody > tr:nth-child(odd) {
    td,
    th {
      background-color: $table-bg-accent;
    }
  }

  // Hover effect style
  tbody > tr:hover {
    td,
    th {
      background-color: $table-bg-hover;
    }
  }
}

// Inactive color
tr.inactive {
  background: $table-inactive-color;
}

// Responsive tables (vertical)
// Wrap tables in `.table-responsive-vertical` ==  mobile friendly
// by vertical table-cell display. Only applies <768px
// everything above that will display normally.
// For correct display must add 'data-title' to each 'td'

.table-responsive-vertical {
  @media screen and (max-width: 768px) {
    table {
      margin-bottom: 0;
      background-color: transparent;
      thead,
      tfoot {
        display: none;
      }
     tbody {
        display: block;
        tr {
          display: block;
          border: 1px solid $table-border-color;
          border-radius: 2px;
          margin-bottom: $table-cell-padding;

          td {
            background-color: $table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: $table-header-font-weight;
            color: $table-header-font-color;
          }
        }
      }
    }

    table {
      border: 0;
      box-shadow: none;
      tbody {
        tr {
          td {
            border: 0;
            border-bottom: 1px solid $table-border-color;
          }
          td:last-child {
            border-bottom: 0;
          }
        }
      }
      tbody > tr > td,
      tbody > tr:nth-child(odd) {
          background-color: $table-bg;
      }
      tbody > tr > td:nth-child(odd) {
          background-color: $table-bg-accent;
      }
      
      tbody {
        tr:hover > td,
        tr:hover {
          background-color: $table-bg;
        }
        tr{
          border: none;
          td:hover {
            background-color: $table-bg-hover;
          }
        }
      }
      a {
        color: #194497;
      }

      td[data-title="Code"] {
        font-weight: 700;
      }

      td[data-title="Name"] {}
    }
  }
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}


.card {
  width: 600px;
  height: 500px;
  background: lightgrey;
  border: 3px inset white;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: all .5s ease-in-out;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #8a8989;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.card:hover {
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
}
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 110px 0 0; /* Height of navbar */
//   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background-color:#0fbd4098;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
h2{
  font-family: "Brush Script", Times, serif;
  // font-style: italic;
  font-size: 30px;
  
  // text-shadow: 1px 2px 3px #090909;
  font-weight: bold;
  font-variant: small-caps;
  
  }