
<header>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-transparent">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
  
          
          <a [routerLink]="['/userhome/expenseentry']" class="list-group-item list-group-item-action py-2 ripple "><i
              class="fa fa-inr fa-fw me-3"></i><span>Expense Entry</span></a>
          <a [routerLink]="['/userhome/expenseview']" class="list-group-item list-group-item-action py-2 ripple "><i
              class="fa fa-calendar fa-fw me-3"></i><span>Expense View</span></a>
          <a [routerLink]="['/userhome/expensecategory']" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fa fa-pencil fa-fw me-3"></i><span>Add Categories</span>
          </a>
          <a [routerLink]="['/userhome/expenseviewtotal']" class="list-group-item list-group-item-action py-2 ripple active">
            <i class="fa fa-money fa-fw me-3"></i><span>All Expenses</span>
        </a>
  
        </div>
      </div>
    </nav>
  
  
  
  </header>
  
  
  <div id="demo">
    
  
    <div class="table-responsive-vertical">
        
        <h2>All Expenses</h2> 
      <!-- Table -->
      <table>
      
  
    
  
        <tbody>
            <tr>

                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th></th>
            </tr>
          <tr *ngFor="let item of DataArray;index as j">
            <td>{{item.description}}</td>
            <td>₹{{item.amount}}</td>
            <td>{{DArray[j]}}</td>
            <td>{{item.category}}</td>
          
            <td><button style="color: rgb(118, 9, 235);border:gray" (click)="del(item.eid)"><i class="fa fa-trash"></i></button></td>   
          </tr>
          <tr>
            <th>Total Expense</th>
          <th>₹ {{total}}</th>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>