<div class="container">
    <!-- <form> -->
      <div class="container mt-3">
            <h1>Are You Sure ?</h1>
            <!-- <table class="table">
                <thead>
                    <th>Date </th>
                    <th> Data </th>
  
                </thead>
                <tr   class="table-primary">
                     <td> {{Coursedataarray["date"]}}</td>
                    <td> {{Coursedataarray["description"]}}</td>
  
                </tr>
            </table> -->
<h3>Click Confirm to Delete </h3>
<!-- <h4>Click Back to Exit</h4> -->
        </div>
    <div class="buttons">
      <button class="confirm-button" (click)="onsubmit()">Confirm</button>
      <button class="cancel-button" [routerLink]="['/userhome/diaryview']">Cancel</button>
    </div>
  <!-- </form> -->
  </div>
  