<div>
    
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-transparent">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">

            
            <a [routerLink]="['/userhome/expenseentry']" class="list-group-item list-group-item-action py-2 ripple active "><i
                    class="fa fa-inr fa-fw me-3"></i><span>Expense Entry</span></a>
            <a [routerLink]="['/userhome/expenseview']" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fa fa-calendar fa-fw me-3"></i><span>Expense View</span></a>
            <a [routerLink]="['/userhome/expensecategory']" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa fa-pencil fa-fw me-3"></i><span>Add Categories</span>
            </a>
            <a [routerLink]="['/userhome/expenseviewtotal']" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fa fa-money fa-fw me-3"></i><span>All Expenses</span>
            </a>

        </div>
    </div>
</nav>
</div>

<form id="form_login" [formGroup]="Entryform">
    <!-- [formGroup]="Entryform" -->

   
    <header>



    </header>

    <main style="margin-top: 58px">
        <div class="container pt-4">

        </div>
    </main>

    <div class="card">
        <h2>Expense Entry</h2>
        <br>
        <p>
            <!-- <label for="">Date</label>&nbsp; -->
            <input type="hidden" formControlName='uid' [(ngModel)]="uid" >
            
            <input type="date" class="input" formControlName="date" placeholder="Amount" style="width:190px;color: gray;" />
            <!-- <div *ngIf="submitted&&Entryform.controls.date.errors.required" class="text-danger"></div> -->
             
        </p>
        <div *ngIf="submitted&&Entryform.controls.date.errors" class="text-danger">
            <div *ngIf="submitted&&Entryform.controls.date.errors.required" class="text-danger">
              Enter Date
            </div>
          </div>
        
        <p>
            
            <input type="number" class="input" formControlName="amount" placeholder="₹ Amount" style="width:190px" />
        </p>
        <div *ngIf="submitted&&Entryform.controls.amount.errors" class="text-danger">
            <div *ngIf="submitted&&Entryform.controls.amount.errors.required" class="text-danger">
              Enter your Amount
            </div>
          </div>
        <p *ngIf="DataArray">

            <select name="cars" class="input" formControlName="category" style="color:gray;width:190px;height: auto;">
                <!-- <option>Category</option> -->
                
                    <option value="" disabled selected>Category</option>
                  
                <option *ngFor="let item of DataArray" value="{{item.category}}"  style="color:rgb(12, 12, 14)">{{item.category}}</option>
            </select>
        </p>
        <div *ngIf="submitted&&Entryform.controls.category.errors" class="text-danger">
            <div *ngIf="submitted&&Entryform.controls.category.errors.required" class="text-danger">
              Choose your category
            </div>
          </div>



        <p>

            <input type="text" class="input" formControlName="description" placeholder="Description"
                style="width:190px" />
        </p>
        <div *ngIf="submitted&&Entryform.controls.description.errors" class="text-danger">
            <div *ngIf="submitted&&Entryform.controls.description.errors.required" class="text-danger">
              Enter the description
            </div>
          </div>
        <p>
            <!-- <button id="submitbutton" type="button" (click)="onSubmit()" style="width:130px">Add</button> -->
            <button class="cssbuttons-io-button" (click)="onSubmit()">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> -->
                <svg fill="#ffffff" width="24" height="15" viewBox="0 0 24 24 " xmlns="http://www.w3.org/2000/svg">
                    <path d="m0 10.909 4.364-4.364 8.727 8.727 15.273-15.273 4.364 4.364-19.636 19.636z" />
                </svg>
                <span>Save</span>
            </button>
        </p>

    </div>
</form>