<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
         background-image: url("assets/images/slide/slide-2.jpg");
        
      } 
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]='LoginFormGroup'>
  

                <!--Login Form-->
                <div class="form-outline mb-4" align="center">
                  
                <h2 class="my-5 display-5 fw-bold ls-tight"  style="color: hsla(188, 3%, 46%, 0.789); font-family:Impact">
                    LOGIN <br />
                
                  </h2>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0" >
                    <input type="email" formControlName="username" id="form3Example3c" class="form-control" placeholder="Email" />
                    <div *ngIf="submitted&&LoginFormGroup.controls.username.errors" class="text-danger">
                      <div *ngIf="submitted&&LoginFormGroup.controls.username.errors.required" class="text-danger">
                        Enter Email
                      </div>
                      <div *ngIf="submitted&&LoginFormGroup.controls.username.errors.email" class="text-danger">
                        Invalid Email
                      </div>

                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" formControlName="password" id="form3Example4c" class="form-control" placeholder="Password"/>
                    <div *ngIf="submitted&&LoginFormGroup.controls.password.errors" class="text-danger">
                      <div *ngIf="submitted&&LoginFormGroup.controls.password.errors.required" class="text-danger">
                        Enter Password
                      </div>
                    </div>
                  </div>
                </div>
  
                
                <!-- Checkbox -->
                
  
                <!-- Submit button -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" (click)="OnSubmit()" class="btn btn-primary btn-lg btn-block mb-4" style="background-color: #e96b56; border: none;">
                  Sign In
                </button>
                <br>
                <p class="message">Not registered? <a [routerLink]="['/home/register']">Create an account</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Section: Design Block -->
