
<!-- Latest Codes -->
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="index.html">Digital Dairy</a></h1>
      </div>

      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a [routerLink]="['/home/login']">Login</a></li>
          <li> <a [routerLink]="['/home/register']">Registration</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <!-- End Header -->

<router-outlet></router-outlet>

